{% extends 'base.html' %}
{% block content %}
<br>

{% if blogs == [] %}
<div class="card">
    <h5 class="card-header">Getting Started</h5>
    <div class="card-body">
        <h5 class="card-title">Your first blog post!</h5>
        <p class="card-text">There are currently no blog posts, click the button below to start writing! </p>
        <a href="/blog/create" class="btn btn-success">New Post</a>
    </div>
</div>
{% else %}
    {% for blog in blogs %}
        <div class='card-body'>
            <h5 class='card-title'>{{ blog.title }}</h5>
            <div class='card-text'>{{ blog.text }}</div>
        </div>
    {% endfor %}
{% endif %}


{% endblock %}